apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: vgjs
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-mlfp-tenant/byoc-app-qnlu/vgjs@sha256:57598d39476bf5467aae0048a5efc3a05a984b285ad15346b15b5a3108033768
        name: my-java-quarkus
        resources: {}
status: {}
