apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: vgjs
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vgjs
    app.kubernetes.io/part-of: byoc-app-qnlu
  name: vgjs
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: vgjs
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: vgjs
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-mlfp-tenant/byoc-app-qnlu/vgjs@sha256:57598d39476bf5467aae0048a5efc3a05a984b285ad15346b15b5a3108033768
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
